{% extends "agora/base.html" %}

{% load humanize %}

{% block body %}
    {% include "agora/_forum_breadcrumb.html" %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if can_create_thread %}
                <a class="btn btn-primary btn-sm pull-right" href="{% url "agora_post_create" forum.pk %}"><i class="fa fa-pencil"></i> Make a New Post</a>
            {% endif %}
            <h3>
            {% if forum.closed %}<span class="label pull-right label-info"><i class="fa fa-lock"></i> closed</span>{% endif %}
                {{ forum.title }}
            </h3>
            <p class="lead">{{ forum.description }}</p>
        </div>
        {% if forum.subforums.all %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sub-Forum Name</th>
                        <th>Last Post</th>
                        <th>Threads</th>
                        <th>Posts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subforum in forum.subforums.all %}
                        <tr>
                            <td><a href="{% url "agora_forum" subforum.pk %}">{{ subforum.title }}</a><br />
                                <small>{{ subforum.description }}</small></td>
                            {% if subforum.last_post %}
                               <td><a href="{% url "agora_thread" subforum.last_post.thread.pk %}">{{ subforum.last_post.thread.title }}</a><br />
                               <small>by <a href="{# url "user_page" subforum.last_post.author.pk #}">{{ subforum.last_post.author.username }}</a></small></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ subforum.threads.all.count|intcomma }}</td>
                            <td>{{ subforum.post_count|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if threads %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Thread Title</th>
                        <th>Last Post</th>
                        <th>Replies</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td>
                                <a href="{% url "agora_thread" thread.pk %}"><b>{{ thread.title }}</b></a>
                                {% if thread.sticky %}<span class="label notice">sticky</span>{% endif %}
                                {% if thread.closed %}<span class="label">closed</span>{% endif %}
                                <br />
                                <small>by <a href="{# url "user_page" thread.author.pk #}">{{ thread.author.username }}</a> {{ thread.created|timesince}} ago </small></td>
                            <td>{# <a href="{% url agora_thread thread.id %}">{{ thread.title }}</a><br /> #}
                                <small>by <a href="{# url "user_page" thread.last_post.author.pk #}">{{ thread.last_post.author.username }}</a> {{ thread.last_post.created|timesince}} ago</small></td>
                            <td>{{ thread.reply_count|intcomma }}</td>
                            <td>{{ thread.view_count|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                There are currently no threads.
            </div>
        {% endif %}
    </div>
    {% include "pagination/pagination.html" %}
{% endblock %}
