{% extends "agora/base.html" %}

{% load thumbnail %}

{% block body %}
    <h1>Forums</h1>
    
    <div class="row">
        <div class="span3">
            <h3>Categories</h3>
            
            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                    <li><a href="{% url agora_category category.id %}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
            
            <h3>Most Active Members</h3>
            {% for member_count in most_active_members %}
                <p>
                    <img src="{{ member_count.user.profile.avatar|thumbnail_url:'avatar' }}" alt="{{ member_count.user.username }}" />
                    <a href="#">{{ member_count.user.username}}</a><br />
                    {{ member_count.count }} Post{{ member_count.count|pluralize }}
                </p>
            {% endfor %}
        </div>
        <div class="span9">
            <h3>Most Active Forums</h3>
            
            <table class="table table-striped">
                {% for forum in most_active_forums %}
                    <tr>
                        <td><a href="{% url agora_forum forum.id %}">{{ forum.title }}</a></td>
                        {% if categories %}<td>{{ forum.category|default:"" }}</td>{% endif %}
                        <td>{{ forum.post_count }} post{{ forum.post_count|pluralize }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Most Viewed Forums</h3>
            
            <table class="table table-striped">
                {% for forum in most_viewed_forums %}
                    <tr>
                        <td><a href="{% url agora_forum forum.id %}">{{ forum.title }}</a></td>
                        {% if categories %}<td>{{ forum.category|default:"" }}</td>{% endif %}
                        <td>{{ forum.view_count }} view{{ forum.view_count|pluralize }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Latest Posts</h3>
            
            <table class="table table-striped">
                {% for post in latest_posts %}
                    <tr>
                        <td><a href="{% url agora_thread post.thread.id %}#post-{{ post.id }}">{{ post.thread.title }}</a></td>
                        <td>by <a href="{# url user_page post.author.id #}">{{ post.author.username }}</a> {{ post.created|timesince }} ago</td>
                        <td><a href="{% url agora_forum post.thread.forum.id %}">{{ post.thread.forum }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Latest Threads</h3>
            
            <table class="table table-striped">
                {% for thread in latest_threads %}
                    <tr>
                        <td><a href="{% url agora_thread thread.id %}">{{ thread.title }}</a>
                        <td>by <a href="{# url user_page thread.author.id #}">{{ thread.last_post.author.username }}</a> {{ thread.last_modified|timesince }} ago</td>
                        <td><a href="{% url agora_forum thread.forum.id %}">{{ thread.forum }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Most Active Threads</h3>
            
            <table class="table table-striped">
                {% for thread in most_active_threads %}
                    <tr>
                        <td><a href="{% url agora_thread thread.id %}">{{ thread.title }}</a></td>
                        <td><a href="{% url agora_forum thread.forum.id %}">{{ thread.forum }}</td>
                        <td>{{ thread.reply_count }} repl{{ thread.reply_count|pluralize:"y,ies" }}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Most Viewed Threads</h3>
            
            <table class="table table-striped">
                {% for thread in most_viewed_threads %}
                    <tr>
                        <td><a href="{% url agora_thread thread.id %}">{{ thread.title }}</a></td>
                        <td><a href="{% url agora_forum thread.forum.id %}">{{ thread.forum }}</td>
                        <td>{{ thread.view_count }} view{{ thread.view_count|pluralize }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
