{% extends "agora/base.html" %}

{% load bootstrap %}

{% block body %}
    {% include "agora/_forum_breadcrumb.html" %}
    
    <h3>Forum Post</h3>

    <form action="{% url agora_post_create forum.pk %}" method="POST" class="form form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <a class="btn" href="{% url agora_forum forum.pk %}">Cancel</a>
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
{% endblock %}