{% extends "agora/base.html" %}

{% load bootstrap_tags %}

{% block body %}
    <h3>Edit post</h3>
    
    <form method="POST" action="{% url agora_post_edit post.kind post.id %}">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Edit" />
            <a href="{% url agora_thread post.thread.pk %}" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}