{% extends "agora/base.html" %}

{% load bootstrap_tags %}

{% block body %}
    {% include "agora/_thread_breadcrumbs.html" with thread=thread %}
    
    <h3>Post a Reply</h3>
    
    <form method="POST" action="{% url agora_reply_create thread.pk %}">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Post" />
            <a href="{% url agora_thread thread.pk %}" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}