Django==1.6.1
pinax-theme-bootstrap==5.0.3
django-user-accounts==1.0c4
metron==1.3.1
eventlog==0.7.0
django-jsonfield==0.9.12
Pillow==2.3.0
easy-thumbnails==1.4
git+https://github.com/eldarion/agora.git#egg=agora
