<div class="breadcrumb">
    <a href="{% url agora_forums %}">Forums</a>
    {% if thread.forum.category %}
        {% if thread.forum.category.parent %}
            <span class="divider">&raquo;</span>
            <a href="{% url agora_category thread.forum.category.parent.id %}">{{ thread.forum.category.parent.title }}</a>
        {% endif %}
        <span class="divider">&raquo;</span>
        <a href="{% url agora_category thread.forum.category.id %}">{{ thread.forum.category.title }}</a>
    {% else %}
        {% if thread.forum.parent %}
            {% if thread.forum.parent.category %}
                {% if thread.forum.parent.category.parent %}
                    <span class="divider">&raquo;</span>
                    <a href="{% url agora_category thread.forum.parent.category.parent.id %}">{{ thread.forum.parent.category.parent.title }}</a>
                {% endif %}
                <span class="divider">&raquo;</span>
                <a href="{% url agora_category thread.forum.parent.category.id %}">{{ thread.forum.parent.category.title }}</a>
            {% else %}
                {% if thread.forum.parent.parent %}
                    <span class="divider">&raquo;</span>
                    <a href="{% url agora_forum thread.forum.parent.parent.id %}">{{ thread.forum.parent.parent.title }}</a>
                {% endif %}
            {% endif %}
            <span class="divider">&raquo;</span>
            <a href="{% url agora_forum thread.forum.parent.id %}">{{ thread.forum.parent.title }}</a>
        {% endif %}
    {% endif %}
    <span class="divider">&raquo;</span>
    <a href="{% url agora_forum thread.forum.id %}">{{ thread.forum.title }}</a>
    <span class="divider">&raquo;</span>
</div>
