{% extends "agora/base.html" %}

{% block body %}

<h3>Forum Post</h3>

<form action="{% url agora_new_post forum_id %}" method="POST" class="form-stacked">
    {% csrf_token %}
    <fieldset>
        <label>Title</label>
        <input type="text" name="title" class="span8" />
        
        <label>Content</label>
        <textarea name="content" rows="10" class="span8"></textarea>
    </fieldset>
    <div class="actions">
        <input class="btn primary" type="submit" value="Post" />
        <a class="btn" href="{% url agora_forum forum_id %}">Cancel</a>
    </div>
</form>
{% endblock %}