{% extends "agora/base.html" %}

{% load humanize %}
{% load avatar_tags %}

{% block body %}
    <div>
        {% include "agora/_thread_breadcrumbs.html" with thread=thread %}
        <h2>{{ thread.title }}</h2>
        <p>
            Started {{ thread.created|timesince }} ago
            <str> &bull; </str>
            {{ thread.view_count }} View{{ thread.view_count|pluralize }}
            <str> &bull; </str>
            {{ thread.reply_count }} Repl{{ thread.reply_count|pluralize:"y,ies" }}
        </p>
        <div>
            {{ thread.content|urlize|linebreaks }}
        </div>
        {% if user.is_authenticated %}
            <a class="btn" href="{% url agora_reply thread.id %}">Post a Reply</a>
        {% endif %}
        <a href="?order_type={% ifequal order_type "asc" %}desc{% else %}asc{% endifequal %}">Reverse Reply Order</a>
    </div>
    
    <div>@@@ pagination</div>
    
    {% for post in posts %}
        <div id="post-{{ post.id }}" class="post row">
            <div class="span4">
                <a class="thumb" href="{# url user_page post.author.id #}">{% avatar post.author 69 %}</a>
                <h3><a href="{# url user_page post.author.id #}">{{ post.author.username }}</a></h3>
                @@@ points, stars, level
                <dl><dt>Posts</dt>
                    <dd>{{ post.author.post_count.all.0.count|intcomma }}</dd>
                </dl>
            </div>
            
            <div class="span12">
                <div style="min-height: 120px;">{{ post.content|urlize|linebreaks }}</div>
                <div class="signature">
                    <p>{{ member.forum_signature }}</p>
                </div>
                <div class="controls">
                    {% if user.is_authenticated %}
                        @@@ rating?
                    {% endif %}
                    <span class="timesince">{{ post.created|timesince }} ago</span>
                    {% if user.is_authenticated %}
                    <div class="buttons">
                        @@@ bookmark
                        <a class="btn small" href="{# url forum_report post.id #}">Report</a>
                        <a class="btn small" href="{% url agora_reply thread.id %}?quote={{ post.id }}">Quote</a>
                        <a class="btn small" href="{% url agora_reply thread.id %}">Reply</a>
                        {# if post|post_editable:member %}<a href="{% url agora_reply_edit post.id %}" class="edit open_lightbox">Edit</a>{% endif #}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
        
    {% if user.is_authenticated %}
        <h2>Reply</h2>
        <div>
                <h3>You say:</h3>
                <div style="float: left; margin-right: 10px;">{% avatar user 69 %}</div>
                <form action="" method="post" class="form-stacked">
                {% csrf_token %}
                <textarea name="content" class="span8" rows="5"></textarea>
                <div class="actions">
                    <input class="btn primary" type="submit" value="reply" />
                </div>
                </form>
                <div class="clear"></div>
        </div>
    {% endif %}
    
    <div>@@@ pagination</div>
{% endblock %}
