{% extends "agora/base.html" %}

{% load humanize %}
{% load avatar_tags %}
{% load agora_tags %}
{% load bootstrap_tags %}

{% block body %}
    {% include "agora/_thread_breadcrumbs.html" with thread=thread %}
    <div class="row">
        <div class="span12">
            <h2>
                {{ thread.title }}
                {% if thread.sticky %}<span class="label notice">sticky</span>{% endif %}
                {% if thread.closed %}<span class="label">closed</span>{% endif %}
            </h2>
            <p>
                Started {{ thread.created|timesince }} ago
                <str> &bull; </str>
                {{ thread.view_count }} View{{ thread.view_count|pluralize }}
                <str> &bull; </str>
                {{ thread.reply_count }} Repl{{ thread.reply_count|pluralize:"y,ies" }}
            </p>
        </div>
        <div class="span4">
            {% if can_create_reply %}
                <a class="btn" href="{% url agora_reply_create thread.id %}">Post a Reply</a>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="span12">@@@ pagination</div>
        <div class="span4"><a href="?order_type={% ifequal order_type "asc" %}desc{% else %}asc{% endifequal %}">Reverse Reply Order</a></div>
    </div>
    
    {% for post in posts %}
        <hr />
        <div id="post-{{ post.id }}" class="row">
            <div class="span4">
                <a class="thumb" href="{# url user_page post.author.id #}">{% avatar post.author 69 %}</a><br />
                <a href="{# url user_page post.author.id #}">{{ post.author.username }}</a><br />
                {# @@@ points, stars, level #}
                {{ post.author.post_count.all.0.count|intcomma }} post{{ post.author.post_count.all.0.count|pluralize }}
            </div>
            
            <div class="span12">
                <div style="min-height: 120px;">{{ post.content_html|safe }}</div>
                <div class="signature">
                    <p>{{ member.forum_signature }}</p>
                </div>
                {% comment %}
                {% if user.is_authenticated %}
                    @@@ rating?
                {% endif %}
                {% endcomment %}
                
                <div class="row">
                    <hr />
                    <div class="span6">
                        Posted {{ post.created|timesince }} ago
                    </div>
                    <div class="span6">
                        {% if user.is_authenticated %}
                        <a class="btn small" href="{# url forum_report post.id #}">Report</a>
                        {% if can_create_reply %}
                        <a class="btn small" href="{% url agora_reply_create thread.id %}?quote={{ post.id }}">Quote</a>
                        <a class="btn small" href="{% url agora_reply_create thread.id %}">Reply</a>
                        {% endif %}
                        {% if post|post_editable:request.user %}<a class="btn small" href="{% url agora_post_edit post.kind post.id %}">Edit</a>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <hr />
    {% if reply_form %}
        <h2>Quick Reply</h2>
        <div>
            <h3>You say:</h3>
            <div style="float: left; margin-right: 10px;">{% avatar user 69 %}</div>
            <form action="" method="POST" class="form-stacked">
                {% csrf_token %}
                <fieldset>
                    {{ reply_form|as_bootstrap }}
                </fieldset>
                <div class="actions">
                    <input class="btn primary" type="submit" value="reply" />
                </div>
            </form>
            <div class="clear"></div>
        </div>
    {% endif %}
    
    <div>@@@ pagination</div>
{% endblock %}
